<div class="col s12" style=""> 
	<div class="divider"></div>
	<div class="section">
		<h4>Most Volatile Mandis</h4>
		<!-- <button class="waves-effect waves-light btn" onclick=requestNewsModal("volatility")>See news</button>
		<span class="grey-text text-darken-2"> -->
			<blockquote>Plot below shows the top 10 most volatile mandis with average volatility across all mandis</blockquote>
		</span>
		<br>
		<br>

		<div class="row">

			
			<div class="col s9 chart_cell" style=" ">
				<canvas id="most_volatile_chart" width="" height=""></canvas>
			</div>

		</div>

	</div>
</div>