<style>
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}
.row:before, .container:before {
    display: table;
    content: " ";
}      
</style>

<footer class="section footer-classic context-dark bg-image foo" style="background: #292929">
      <div class="container">
        <div class="row row-30">
          <div class="col-md-6 col-xl-5">
            <div class="pr-xl-4">
              <p>
                We are a data analytics team dedicated to uncovering patterns of
                bias in the social development of India. We are investigating
                bias themes related to corporate influence on policy making, the
                political economy, role of the mass media in influencing public
                opinion, and inequality in the development of different regions
                as observed using data from censuses and satellite imagery.
              </p>
              <!-- Rights-->
              <p class="rights">
                <span>© </span><span class="copyright-year"></span><span> </span><span>2019 GEM team @ IITD.</span><span> All Rights Reserved.</span>
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <h5>Contacts</h5>
            <dl class="contact-list">
              <dt>Address:</dt>
              <dd>ICTD Lab, First Floor, SIT Building</dd>
              <dd>IIT Delhi, India</dd>
            </dl>
            <dl class="contact-list">
              <dt>primary contact:</dt>
              <dd>
                <a href="mailto:#" style="color: white !important">aseth@cse.iitd.ernet.in</a>
              </dd>
            </dl>
          </div>
          <div class="col-md-3 col-xl-3">
            <h5>Links</h5>
            <ul class="nav-list">
              <li>
                <a href="http://act4d.iitd.ac.in/act4dgem/index.htm" style="color: white !important; text-decoration: none">About</a>
              </li>
              <li>
                <a href="http://act4d.iitd.ac.in/act4dgem/Entities/INTERLOCKS.htm" style="color: white !important; text-decoration: none">Corporate Interlocks</a>
              </li>
              <li>
                <a href="http://act4d.iitd.ac.in/act4dgem/Entities/POLITICALECONOMY.htm" style="color: white !important; text-decoration: none">Media Bias</a>
              </li>
              <li>
                <a href="http://act4d.iitd.ac.in/act4dgem/Entities/MASSMEDIABASIS.htm" style="color: white !important; text-decoration: none">Political Economy</a>
              </li>
              <li>
                <a href="http://act4d.iitd.ac.in/act4dgem/Entities/SOCIO-ECODEV.htm" style="color: white !important; text-decoration: none">Socio-Economic Development</a>
              </li>
              <li>
                <a href="http://act4d.iitd.ac.in/act4dgem/Urbanization/index.html" style="color: white !important; text-decoration: none">Urbanization</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
