<div class="col s12" style=""> 
	<div class="divider"></div>
	<div class="section">
		<h4>Dispersion</h4>
		<button class="waves-effect waves-light btn" onclick=requestNewsModal("dispersion")>See news</button>
		<span class="grey-text text-darken-2">
			<blockquote>
			Price dispersion is variation in prices across mandis
			<br>

			Plot below shows the Dispersion of Mandi price and Retail Price with average dispersion for all commodities

			<br>
			Price dispersion should decrease with time


			</blockquote>
		</span>
		<br>
		<br>

		<div class="grid">

			
			<div class="cell chart_cell" style="flex: 0 0 40%;">
				<canvas id="dispersion_mandi_chart" width="" height=""></canvas>



			</div>
			<div class="cell chart_cell" style="flex: 0 0 40%;">
				<canvas id="dispersion_retail_chart" width="" height=""></canvas>

			</div>
			


			
		</div>

	</div>
</div>