<div class="">
			<div class="masonry row" style="position: ; ;">
				<div class="col s12" style="position: ; ">
					<h3 style="text-align: ;">Agricultural Commodity Analysis (Dashboard)</h3>
				</div>
				<br/>
				<br/>
				




				
				


				<div class="col s12" style=""> 
					<div class="divider"></div>
					<div class="section">

						<br>
						<br>

						<div class="grid">
							<div class="cell">
								<div class="card">
									<span class="card-title">Onion</span>
									<div class="card-content">
										<canvas id="onion_forecast" width="" height="">
										</canvas>

									</div>
									<p>4 out of 15 mandis are anomolus</p>
									<div class="card-action">
										<a href="/agri_req/landing_page/Onion">Details</a>
									</div>
								</div>
							</div>


							<div class="cell">
								<div class="card">
									<span class="card-title">Potato</span>
									<div class="card-content">
										<canvas id="potato_forecast" width="" height="">
										</canvas>

									</div>
									<p>15 out of 24 mandis are anomolus</p>
									<div class="card-action">
										<a href="/agri_req/landing_page/Potato">Details</a>
									</div>
								</div>
							</div>


							<div class="cell">
								<div class="card">
									<span class="card-title">Tomato</span>
									<div class="card-content">
										<canvas id="tomato_forecast" width="" height="">
										</canvas>

									</div>
									<p>15 out of 15 mandis are anomolus</p>
									<div class="card-action">
										<a href="/agri_req/landing_page/Tomato">Details</a>
									</div>
								</div>
							</div>


							<div class="cell">
								<div class="card">
									<span class="card-title">Sugar</span>
									<div class="card-content">
										<canvas id="suger_forecast" width="" height="">
										</canvas>

									</div>
									<p>12 out of 33 mandis are anomolus</p>
									<div class="card-action">
										<a href="/agri_req/landing_page/Sugar">Details</a>
									</div>
								</div>
							</div>



							<div class="cell">
								<div class="card">
									<span class="card-title">Masur Dal</span>
									<div class="card-content">
										<canvas id="masurdal_forecast" width="" height="">
										</canvas>

									</div>
									<p>2 out of 11 mandis are anomolus</p>
									<div class="card-action">
										<a href="/agri_req/landing_page/Masur_Dal">Details</a>
									</div>
								</div>
							</div>


							<div class="cell">
								<div class="card">
									<span class="card-title">Green Gram Dal(Moong Dal)</span>
									<div class="card-content">
										<canvas id="moongdal_forecast" width="" height="">
										</canvas>

									</div>
									<p>12 out of 33 mandis are anomolus</p>
									<div class="card-action">
										<a href="/agri_req/landing_page/Green_Gram_Dal_(Moong_Dal)">Details</a>
									</div>
								</div>
							</div>



							<div class="cell">
								<div class="card">
									<span class="card-title">Mustard Oil</span>
									<div class="card-content">
										<canvas id="mustardoil_forecast" width="" height="">
										</canvas>

									</div>
									<p>2 out of 4 mandis are anomolus</p>
									<div class="card-action">
										<a href="/agri_req/landing_page/Mustard_Oil">Details</a>
									</div>
								</div>
							</div>



							<div class="cell">
								<div class="card">
									<span class="card-title">Rice</span>
									<div class="card-content">
										<canvas id="rice_forecast" width="" height="">
										</canvas>

									</div>
									<p>0 out of 15 mandis are anomolus</p>
									<div class="card-action">
										<a href="/agri_req/landing_page/Rice">Details</a>
									</div>
								</div>
							</div>



							
							
						</div>
						
					</div>
				</div>





			</div>
		</div>