<div class="col s12" style=""> 
	<div class="divider"></div>
	<div class="section">
		<h4>Most Volatile Mandis</h4>
		<span class="grey-text text-darken-2">
			<blockquote>Plot below shows the top 10 most volatile mandis with average volatility across all mandis</blockquote>
		</span>
		<br>
		<br>

		<div class="grid">

			
			<div class="cell chart_cell" style="flex: 0 0 100%; height: 500px">
				<canvas id="most_volatile_chart_news_feed_modal" width="" height=""></canvas>
			</div>

		</div>

	</div>
</div>