<style>
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-size: 120%;
}
.navbar:before {
    display: table;
    content: " ";
}	
.container-fluid:before {
    display: table;
    content: " ";
}
.navbar-header:before {
    display: table;
    content: " ";
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}	
.header {
    background: #5cdb95;
    color: #05386b!important;
    border: none!important;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar:after, .container-fluid:after, .navbar-header:after {
    clear: both;
    display: table;
    content: " ";
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}	
	
</style>

<nav class="navbar navbar-inverse navbar-fixed-top header">
  
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="javascript:void(0)" style="/* color: white; *//* font-size: 200%; *//* margin-inline-start: 7%; */">GEM</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar" style="font-size: 88%;margin-top:-50px;margin-left:75px">
				<ul class="nav navbar-nav custom-nav" style="font-family: 'Open Sans', 'serif';">
					<li>
						<a href="http://act4d.iitd.ac.in/act4dgem/index.htm">Home</a>
					</li>
					<li>
						<a href="http://act4d.iitd.ac.in/act4dgem/Entities/INTERLOCKS.htm">Corporate Government Interlocks</a>
					</li>
					<li>
						<a href="http://act4d.iitd.ac.in/act4dgem/Entities/POLITICALECONOMY.htm">Political Economy</a>
					</li>
					<li>
						<a href="http://act4d.iitd.ac.in/act4dgem/Entities/MASSMEDIABASIS.htm">Media Bias</a>
					</li>
					<li>
						<a href="http://act4d.iitd.ac.in/act4dgem/Entities/SOCIO-ECODEV.htm">Socio-Economic Development</a>
					</li>
					<li>
						<a href="http://act4d.iitd.ac.in/act4dgem/Urbanization/index.html">Urbanization</a>
					</li>
					
				</ul>
				
			</div>
		</div>
	</nav>
