<div class="card bg-light border-secondary">
	<div class="card-header">
		<b>Forecasting Method</b>
	</div>
	<div class="card-body">
		<blockquote class="blockquote mb-0">
			<p class="text-secondary">
				Forecasting the data for a 30-day window using the time series forecasting model, SARIMAX with SARIMA results, neighbouring mandi/retail data, CPI as exogenous variables.
			</p>
			
		</blockquote>
	</div>
</div>
<br>

<!-- 
<div class="card bg-light border-primary">
	<div class="card-header">
		<ul class="nav nav-pills mb-0 nav-fill" id="" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="forecast-tab" data-toggle="pill" href="#forecast-tab-info" role="tab" aria-controls="forecast-tab-info" aria-selected="true">Forecasting Method </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="classification-tab" data-toggle="pill" href="#classification-tab-info" role="tab" aria-controls="classification-tab-info" aria-selected="true">Classification Method</a>
			</li>
		</ul>
	</div>
	<div class="card-body">
		<blockquote class="blockquote mb-0">
			<div class="tab-content" id="">
				<div class="tab-pane show active" id="forecast-tab-info" role="tabpanel" aria-labelledby="forecast-tab">
					<p>
						Forecasting the data for a 30-day window using the time series forecasting model, SARIMAX with SARIMA results, neighbouring mandi/retail data, CPI as exogenous variables.
					</p>
				</div>
				<div class="tab-pane show" id="classification-tab-info" role="tabpanel" aria-labelledby="classification-tab">
					helllo c
				</div>
			</div>
		</blockquote>
	</div>
</div> -->
<br>

