<div class="sticky-top row" style="top:40px">
	<div class="col-12">
		<h3 style="color: green">Normal</h3>
		(For next 30 days)
		<br>
		<br>
		<div class="card bg-light border-secondary">
			<div class="card-body">
				<p class="text-secondary mb-0">
					Classifying the 30-day period as <span class="text-success font-weight-bold" >Normal</span> or <span class="text-danger font-weight-bold">Anomalous</span>. 
				</p>
				<hr>
				<p class="text-secondary mb-0">
					Using the random forest classifier using retail price, mandi price, arrival amount and forecasting residuals as features.
				</p>
			</div>

		</div>
	</div>
	<div class="col-12" style="height: 50px">
		<!-- <h2>News</h2> -->
	</div>

	<div class="col-4 text-right">
		<a href="https://www.grainmart.in/news/low-demand-for-imported-onions-adds-to-the-crisis-with-retail-price-touching-rs-100-in-the-several-states-in-india/" style="font-weight: bold">19-1-2020</a>
	</div>
	<div class="col-8 text-left">
		<a href="https://www.grainmart.in/news/low-demand-for-imported-onions-adds-to-the-crisis-with-retail-price-touching-rs-100-in-the-several-states-in-india/">Low Demand for Imported Onions Adds to the Crisis with Retail Price Touching Rs 100 in the Several States in India</a>
	</div>
	<div class="col-12 text-right">
		<hr style="width: 200px">
	</div>



	<div class="col-4 text-right">
		<a href="https://www.news18.com/news/business/onions-will-be-provided-for-rs-22-says-govt-as-data-reveals-wholesale-inflation-rose-to-2-59-in-dec-2457887.html" style="font-weight: bold">14-1-2020</a>
	</div>
	<div class="col-8 text-left">
		<a href="https://www.news18.com/news/business/onions-will-be-provided-for-rs-22-says-govt-as-data-reveals-wholesale-inflation-rose-to-2-59-in-dec-2457887.html">Onions Will be Provided for Rs 22/kg, Says Centre as Retail Inflation Hits 5-year High</a>
	</div>
	<div class="col-12 text-right">
		<hr style="width: 200px">
	</div>


	<div class="col-4 text-right">
		<a href="https://www.thehindubusinessline.com/economy/agri-business/onion-retail-price-tracker-monday-january-13/article30559464.ece" style="font-weight: bold">13-1-2020</a>
	</div>
	<div class="col-8 text-left">
		<a href="https://www.thehindubusinessline.com/economy/agri-business/onion-retail-price-tracker-monday-january-13/article30559464.ece">Onion Retail Price Tracker: Monday, January 13</a>
	</div>
	<div class="col-12 text-right">
		<hr style="width: 200px">
	</div>
</div>