<div class="sticky-top row" style="top:40px">
	<div class="col-12">
		<h3 style="color: green">Normal</h3>
		(For next 30 days)
		<br>
		<br>
		<div class="card bg-light border-secondary">
			<div class="card-body">
				<p class="text-secondary mb-0">
					Classifying the 30-day period as <span class="text-success font-weight-bold" >Normal</span> or <span class="text-danger font-weight-bold">Anomalous</span>. 
				</p>
				<hr>
				<p class="text-secondary mb-0">
					Using the random forest classifier using retail price, mandi price, arrival amount and forecasting residuals as features.
				</p>
			</div>

		</div>
	</div>
	<div class="col-12" style="height: 50px">
		<!-- <h2>News</h2> -->
	</div>
	
	<div class="col-4 text-right">
		<a href="https://economictimes.indiatimes.com/news/economy/agriculture/politics-prices-pummel-bengal-potato-planters/articleshow/67697274.cms?from=mdr" style="font-weight: bold">26-1-2020</a>
	</div>
	
	<div class="col-8 text-left">
		<a href="https://economictimes.indiatimes.com/news/economy/agriculture/politics-prices-pummel-bengal-potato-planters/articleshow/67697274.cms?from=mdr">Politics, prices pummel Bengal potato planters</a>
	</div>

	<div class="col-12 text-right">
		<hr style="width: 200px">
	</div>

	<div class="col-4 text-right">
		<a href="https://economictimes.indiatimes.com/news/economy/agriculture/potato-wholesale-prices-firm-up-due-to-heavy-rains/articleshow/73357234.cms" style="font-weight: bold">18-1-2020</a>
	</div>
	<br>
	<div class="col-8 text-left">
		<a href="https://economictimes.indiatimes.com/news/economy/agriculture/potato-wholesale-prices-firm-up-due-to-heavy-rains/articleshow/73357234.cms">Potato wholesale prices firm up due to heavy rains</a>
	</div>
</div>