<!-- dropdown -->

<div class="col-12 mt-5">

	<div class="form-group row">
	
		<div class="col-6">
			<label for="potato_history_select" class="col-12 col-form-label">Anomaly Type</label>
			<div class="col-12">
				<select class="form-control" id="potato_anomaly_type">
					<option value="high">High</option>
					<option value="low" selected>Low</option>
				</select>
			</div>
		</div>

		<div class="col-6">
			<label for="potato_history_select" class="col-12 col-form-label">Event</label>

			<div class="col-12">
				<select class="form-control" id="potato_history_select">
					<!-- <option>wef</option> -->
				</select>
			</div>
		</div>
		<!-- <div class="col-4"></div> -->
	</div>
	
	<br>
	<div id="potato_history_plot"></div>
	
</div>